{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "plugins": ["prettier", "babel", "promise", "import", "react"],
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0
  }
}
